@import './vendors/mdi/css/materialdesignicons.min.css';
@import './vendors/css/vendor.bundle.base.css';
@import './style.css';
i{
    pointer-events: none;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu{
    top: 100% !important;
    margin-top: 0;
}
.card.card-img-holder a{
    color: #fff;
    text-decoration: none;
}
.nav-link{
    color:#000;
}